article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1em;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-weight: 100;
  font-size: 2.5em;
  margin: 1.2em 0 1.1rem;
}

h2 {
  font-size: 1.6em;
  margin: 1.8em 0 .72em;
  line-height: .7em;
  padding: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  width: 100%;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #f7f4f3;
  color: #071013;
  font-family: Lato, Helvetica, "Helvetica Nue", Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.92em;
}

.container {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.align-center {
  max-width: 75%;
}

.align-right {
  align-self: right;
}

.intro-text {
  max-width: 720px;
  padding: 1rem;
}

#comment-box {
  color: #0e273c;
  margin-top: 80px;
  width: 100%;
  resize: none;
}

.btn {
  height: 60px;
  width: 120px;
  font-weight: 200;
  text-shadow: 1px 1px 4px 2px #345;
  background-color: #8c271e;
  border: 0;
  border-radius: 1px;
  color: #f7f4f3;
  box-shadow: 2px 2px 1px 1px #345;
  font-size: 1.3rem;
  padding: 1rem;
}

#submit-btn {
  background-color: #8c271e;
}

#submit-btn:hover {
  background-color: #9d382f;
}

#submit-btn:active {
  background-color: #e7311c;
  color: white;
}

.top-color-div {
  height: 20px;
  width: 100vw;
  background-color: #8c271e;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 0.3s;
  /* call our keyframe named fadeIn, use animation ease-in and repeat it only .3 time */
  -moz-animation: fadeIn ease-in 0.3s;
  animation: fadeIn ease-in 0.3s;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: .3)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
  transition: 0.3s ease-out;
}

loading-logo {
  animation: loading-logo-spin infinite 10s linear;
  height: 80px;
}

@keyframes loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}